<template>
  <main>
    <div
      v-if="hungary"
      class="highlighted-item"
    >
      <h3 class="item__title">
        in Hungary
      </h3>

      <div class="box-list">
        <div class="box">
          <h3 class="item__title">
            <abbr title="Confirmed">
              🤒
            </abbr>
          </h3>

          <div class="item__content">
            {{ hungary.confirmed.value | numeral }}
          </div>
        </div>

        <div class="box">
          <h3 class="item__title">
            <abbr title="Deaths">
              💀
            </abbr>
          </h3>

          <div class="item__content">
            {{ hungary.deaths.value | numeral }}
          </div>

          <span class="item__meta">
            {{ countPercentage({ num: hungary.deaths.value, countFrom: hungary.confirmed.value }) }} of confirmed
          </span>
        </div>

        <div class="box">
          <h3 class="item__title">
            <abbr title="Recovered">
              ✅
            </abbr>
          </h3>

          <div class="item__content">
            {{ hungary.recovered.value | numeral }}
          </div>

          <span class="item__meta">
            {{ countPercentage({ num: hungary.recovered.value, countFrom: hungary.confirmed.value }) }} of confirmed
          </span>
        </div>
      </div>
    </div>

    <div class="container">
      <div
        class="item"
        v-for="(item, index) in items"
        :key="index"
      >
        <slot v-if="stats[item.key]">
          <h3 class="item__title">
            <abbr :title="item.abbr">
              {{ item.title }}
            </abbr>
          </h3>

          <div class="item__content">
            <span v-if="item.isCountries">
              {{ stats[item.key].length }}
            </span>
            <slot v-else>
              {{ stats[item.key] | numeral }}
            </slot>
          </div>

          <span
            v-if="item.showPercentage"
            class="item__meta"
          >
            {{ countPercentage({ num: stats[item.key] }) }} of total confirmed
          </span>

          <slot v-if="item.isCountries">
            <a
              href="#"
              class="item__meta"
              @click.prevent="toggleCountriesListVisibility"
            >
              which countries?
            </a>

            <ul
              v-show="visibleCountriesList"
              class="list"
            >
              <li
                class="list__item"
                v-for="(country, index) in orderedCountries"
                :key="index"
              >
                <h4 class="list__item__title">
                  {{ country.name }}
                </h4>
              </li>
            </ul>
          </slot>
        </slot>
      </div>
    </div>
  </main>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'Stats',

  data () {
    return {
      visibleCountriesList: false,
      baseUrl: 'https://covid19.mathdro.id/api/',
      stats: {},
      hungary: null,
      items: [
        {
          key: 'totalConfirmed',
          abbr: 'Total Confirmed',
          title: '🤒'
        },

        {
          key: 'totalDeaths',
          abbr: 'Total Deaths',
          title: '💀',
          showPercentage: true
        },

        {
          key: 'totalRecovered',
          abbr: 'Total Recovered',
          title: '✅',
          showPercentage: true
        },

        {
          key: 'countries',
          abbr: 'Affected Countries',
          title: '🌏',
          isCountries: true
        }
      ]
    }
  },

  computed: {
    orderedCountries () {
      if (!this.stats['countries']) {
        return false
      }

      return [...this.stats.countries] // Clones the array with Spread Operator.
        // Sorts the results alphabetically by the name of the country.
        .sort(function(a, b) {
          if (a.name < b.name) return -1
          if (a.name > b.name) return 1
          return 0
        })
    }
  },

  // When the component is mounted, do the initialization.
  mounted () {
    this.init()
  },

  methods: {
    init () {
      this.getStats()

      // Refreshes every 10 minutes.
      setInterval(() => {
        this.getStats()
      }, 600000)
    },

    getStats () {
      const globalData = fetch(this.baseUrl)
        .then(response => response.json())

      const countriesData = fetch(`${this.baseUrl}countries`)
        .then(response => response.json())

      const hungaryData = fetch(`${this.baseUrl}countries/HU`)
        .then(response => response.json())

      Promise.all([globalData, countriesData, hungaryData])
        .then(response => {
          const [ globalData, countries, hungary ] = [...response]

          Vue.set(this.stats, 'totalConfirmed', globalData.confirmed.value)
          Vue.set(this.stats, 'totalDeaths', globalData.deaths.value)
          Vue.set(this.stats, 'totalRecovered', globalData.recovered.value)
          Vue.set(this.stats, 'countries', [...countries.countries])
          this.hungary = {...hungary}
        })
        .catch(error => {
          console.error(error)
        })
    },

    toggleCountriesListVisibility () {
      this.visibleCountriesList = !this.visibleCountriesList
    },

    countPercentage ({ num, countFrom = this.stats.totalConfirmed } = {}) {
      const percentage = num / countFrom * 100
      return `${(Math.round(percentage * 100) / 100).toFixed(2)}%`
    }
  }
}
</script>

<style scoped lang="scss">
  * {
    box-sizing: border-box;
  }

  abbr {
    text-decoration: none;
    cursor: help;
  }

  .highlighted-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
    min-height: 80vh;
    background-color: #202020;
    color: #e4e4e4;
  }

  .box-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 60vw;
    }
  }

  .box {
    margin: 15px 0;
    text-align: center;
    flex: 0 1 33.333%;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  .container {
    display: block;
    min-height: 100vh;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-height: 50vh;
    color: #fff;

    &:nth-child(1) { background-color: #013A40; }
    &:nth-child(2) { background-color: #F23D3D; }
    &:nth-child(3) { background-color: #F26A4B; }
    &:nth-child(4) { background-color: #027373; }

    &__title {
      margin: 0;
      font-size: 32px;
    }

    &__content {
      font-size: 66px;
      font-weight: 800;
    }

    &__meta {
      font-size: 14px;
      color: #fff;
    }
  }

  .list {
    margin-right: auto;
    line-height: 1.33;

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      &__title {
        margin: 0;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100vw;
      height: 100vh;
      min-height: auto;
    }

    .item {
      min-height: auto;
    }
  }
</style>
