<template>
  <div id="app">
    <stats />
  </div>
</template>

<script>
import Stats from './components/Stats.vue'

export default {
  name: 'App',

  components: {
    Stats
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
